@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

.max-width{
  @apply max-w-[1400px] mx-auto
}

.padding-x{
  @apply xl:px-40 md:px-10 px-0
}

.padding-y{
  @apply xl:py-24 md:py-16 py-0
}

.rounded-primary{
  @apply rounded-[10px]
}

.main-gradient{
  @apply bg-gradient-to-r from-[#28A7ED] via-[#A337F6] to-[#E84D70]
}